.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  flex-grow: 1;
  flex-shrink: 0;
}

@media (min-width: 920px) {
  .profile__info {
    align-items: start;
  }
}
